[submodule "externals/tensorboard_logger"]
	path = externals/tensorboard_logger
	url = https://github.com/RustingSword/tensorboard_logger.git
[submodule "externals/protobuf"]
	path = externals/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
