[submodule "externals/protobuf"]
	path = externals/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "externals/tensorboard_logger"]
	path = externals/tensorboard_logger
	url = https://github.com/windfall-shogi/tensorboard_logger.git
